.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.btn_Back {
  position: absolute;
  left: 50%;
  margin-top: 51px;
  border-radius: 19%;
  background: aquamarine;
  width: 4%;
}

.example-card {
  max-width: 400px;
}

.modal-content{
  width: 200%;
  position: relative;
  right: 47%;
  height: 522px;
}