<div class="container" style="position: relative; top: 12%;">

    <div class="row">
        <div class="col-md-4" style="cursor: pointer;">
            <mat-card (click)="navigate_Manage_Category()" class="example-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Manage Category</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md-4" style="cursor: pointer;">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header (click)="navigate_Manage_view_User()">
                    <mat-card-title>Manage Users</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- <div class="col-md-4" style="cursor: pointer;">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Manage Order</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div> -->
    </div>
</div>