<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <strong style="margin-right: 10px;" *ngIf="loggedUserData && loggedUserData.userName">
    {{loggedUserData.userName}}</strong>

  <button class="btn btn-primary" *ngIf="loggedUserData && loggedUserData.userName" type="button"
    (click)="onLogoFF()">LogOff</button>

  <button *ngIf="!loggedUserData" mat-flat-button class="example-icon" aria-label="Example icon-button with share icon"
    (click)="onLogin()">
    Login
  </button>

  <button style="margin-left: 5px;" *ngIf="!loggedUserData" mat-flat-button class="example-icon"
    aria-label="Example icon-button with share icon" (click)="onRegister()">
    Register
  </button>
</mat-toolbar>



<router-outlet />

<div class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ">
        <h4 class="modal-title" style="padding-left: 42%;">Login</h4>
        <button type="button" class="btn-close" (click)="closeLogin()" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body ">

        <div class="row">
          <div class="col">
            <label for="" style="margin-bottom: 4px;">User Name</label>
            <input type="text" name="userName" [(ngModel)]="loginObj.userName" class="form-control"
              placeholder="User Name">
          </div>
        </div>

        <div class="row" style="margin-top: 7px;">
          <div class="col">
            <label for="" style="margin-bottom: 4px;">Password</label>
            <input type="password" name="password" [(ngModel)]="loginObj.password" class="form-control"
              placeholder="Password">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="login()" data-bs-dismiss="modal">Login</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="registerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" (click)="closeRegister()" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label for="">EmailId</label>
            <input type="text" [(ngModel)]="registerObj.emailId" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Mobile No</label>
            <input type="text" [(ngModel)]="registerObj.mobileNo" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">User Name</label>
            <input type="text" [(ngModel)]="registerObj.userName" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Password</label>
            <input type="text" [(ngModel)]="registerObj.password" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onSave()" data-bs-dismiss="modal">Register</button>
      </div>
    </div>
  </div>
</div>