<h1 class="position-relative mb-4 text-center py-2 px-4 text-bg-secondary border border-secondary rounded-pill">CATEGORY
    LIST
</h1>
<div class="container" style="margin-left: 11%;">
    <div class="row">
        <div class="col-md-4" *ngFor="let view of list_Category" (click)="navigate(view.categoryId)">
            <mat-card class="example-card mb-3" appearance="outlined">
                <!-- <img mat-card-image [src]="view.photoUrl" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <h2 class="text-center mt-2">
                        <i>{{view.categoryName}}</i>
                    </h2>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>